.frs_adform {
    display: flex;
    width: 350px;
    max-width: 500px;
}

.select-city {
    margin-top: 6px;
}

.text {
    margin: 6px 0 0 0;
}

.button-send {
    margin: 12px auto 0;
}

.button-send-disabled {
    
}